/* Estilo para a barra lateral */
.sidebar {
    position: fixed;
    height: 100vh;
    width: 250px;
    padding: 0;
    margin: 0;
    top:0;
    left:0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #ff8c42;
    font-family: "Cabin", sans-serif;
    font-weight: bold;
}

/* Estilo do logo */
.sidebar .logo-item {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.sidebar .logo-item img {
    width: 150px;
    height: 150px;
    margin-left: 30px;
}

/* Estilo dos itens de menu */
.sidebar .menu-item {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px 15px;
    box-sizing: border-box;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: inline-block;
    transition: all 0.3s ease;
    width: fit-content;
    position: relative;
    box-sizing: border-box;
}

.sidebar .menu-item a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: inline-block;
    transition: all 0.3s ease;
    width: fit-content;
    position: relative;
    box-sizing: border-box;
}

.sidebar .menu-item:hover {
    background-color: #F06019;
}

.sidebar .menu-item img {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

/* Estilo para o footer */
.sidebar .footer {
    margin-top: auto; /* Move o footer para o final da sidebar */
    padding: 15px;
    background-color: black; /* Fundo preto */
    color: white; /* Cor do texto */
    border-radius: 20px; /* Bordas arredondadas */
    text-align: center;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 4px;
}

.content {
    margin-left: 220px; /* Espaço para o menu lateral */
    padding: 20px;
}
